.section-expense {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.select {
  width: 200px;
  cursor: pointer;
  --bs-form-select-bg-img: url("/src/assets/download.svg");
  display: block;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  background-image: var(--bs-form-select-bg-img),
    var(--bs-form-select-bg-icon, none);
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  /*border: 1px solid #dee2e6;*/
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  outline: none;

}
/* Estilo base de la floating-label (cuando no tiene valor o está sin focus) */
.floating-label {
  position: absolute;
  display: none;
  top: 50%;
  left: 1rem;
  color: #555;
  pointer-events: none;
  transition: 0.3s;
}

/* Mostrar el label flotante cuando hay un valor seleccionado */
.select-container.has-value .floating-label {
  display: flex;
  top: -10px;
  left: 0.5rem;
  font-size: 14px;
  background-color: #f4f9f4;
  padding: 0 5px;
  color: #1976d2; /* Azul cuando el select tiene valor */
}
/* Cambiar color del label cuando se pierde el focus */
.select-container select:focus + .floating-label {
  color: #1976d2; /* Azul cuando está en focus */
}

.select-container select:not(:focus) + .floating-label {
  color: #555; /* Vuelve a gris cuando se pierde el focus */
}
.select-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
