.section-cash-opening {
  width: 100%;
  /*height: 100vh;*/
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.formulario {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.campo {
  flex: 1;
}

.input-group {
  display: flex;
  gap: 8px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.tbl-cash th,
.tbl-cash td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.total {
  margin-top: 16px;
}
.agregar-moneda {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.container-table {
  max-width: 1440px;
  width: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.83);
}
.tbl-cash {
  width: 100%;
  border-collapse: collapse;
}
.tbl-container {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  max-height: 450px;
  overflow-y: auto;
}
th,
td {
  padding: 5px;
  text-align: left;
  white-space: nowrap; /* Evita que el contenido se envuelva */
  /*border: 1px solid #ddd; /* Define el borde que separa filas y columnas */
}

.tbl-cash tbody tr td {
  color: #666;
  padding: 0.4rem;
}
.tbl-cash tbody tr td {
  border-top: 1px solid #ddd;
}
.tbl-cash tr:nth-child(even) {
  background-color: #f3f3f3;
}

@media screen and (max-width: 800px) {
  .tbl-cash thead {
    display: none;
  }

  .tb-cash tr,
  .tbl-cash td {
    display: block;
    width: 100%;
  }
  .tbl-cash tr {
    margin-bottom: 1rem;
  }
  .tbl-cash tbody tr td {
    position: relative;
    text-align: right;
  }
  .tbl-cash td::before {
    content: attr(data-table);
    position: absolute;
    left: 0;
    width: 50%;
    text-align: left;
  }
}
