.container-dashboard{
    display: grid;
    grid-template-columns: auto 1fr;
}
.main{
    background-color: #f4f9f4;
}
@media screen and (max-width: 800px) {
    .container-dashboard{
        grid-template-columns: 1fr;
    }
    .main{
        padding: 2em 1em 60px 1em;
    }
}