.container-create-user {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 2rem;
}
.input-create-user {
  display: flex;
  flex-direction: column;
}
.input-create-user-principal {
  font-size: 14px;
  padding-left: 1rem;
  border-right: none;
  border-left: none;
  border-top: none;
  /*border-radius: 0.375rem;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  outline: none;
  transition: 0.2s ease;
}
.label-create-user {
  transition: 0.2s ease;
}
.input-create-user:focus-within .input-create-user-principal {
  border-bottom: 1px solid blue;
}

.input-create-user:focus-within .label-create-user {
  color: blue;
}
.container-buttons-create-user{
    display: flex;
    gap: 15px;
}
.btn-submit-create-user:disabled {
  background-color: #ebebeb;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
  border: none;
}
.btn-submit-create-user {
  border: none;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: #06571f;
  color: white;
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px
}
