:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
ul{
  list-style-type: none;
}
.input:-webkit-autofill {
  background-color: #fafbfc !important;
}
input[type="text"]:-webkit-autofill,
input[type="email"]:-webkit-autofill,
input[type="password"]:-webkit-autofill {
  background-color: #fafbfc !important;
}
