.container-login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: radial-gradient(circle, #06571f, #023814, #02190a);
}
.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 0.75rem;
}
.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
}
.login-header header {
  font-size: 30px;
  font-weight: 600;
}
.input-box {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.input-box .input-field {
  width: 100%;
  height: 60px;
  font-size: 17px;
  /*padding-left: 1rem;*/
  border-right: none;
  border-left: none;
  border-top: none;
  /*border-bottom: 1px solid rgba(0, 0, 0, 0.2);*/
  border-bottom: 2px solid #003710;
  outline: none;
  transition: 0.3s;
  background-color: #fafbfc;
}

::placeholder {
  font-weight: 500;
  color: #222;
}
/*.input-field:focus{
      width: 105%;
  }*/
.forgot {
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
  padding-right: 20px;
}
.section-login {
  display: flex;
  align-items: center;
  font-size: 14px;
}
#check {
  margin-right: 10px;
}
.a-link-login {
  text-decoration: none;
  cursor: pointer;
}
.a-link-forgot-password {
  text-decoration: none;
  color: #555;
}
.a-link-forgot-password:hover {
  text-decoration: underline;
}
.a-link-login:hover {
  text-decoration: underline;
}
.input-submit {
  position: relative;
}
.submit-btn {
  width: 100%;
  height: 60px;
  background-color: #00e841;
  border: 1px solid #003710;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  font-size: 15px;
}
.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  color: black;
  font-weight: 500;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.submit-btn:hover {
  background-color: rgba(41, 229, 94, 0.776);
}
.submit-btn:disabled {
  background-color: #ebebeb;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
  border: none;
}
.submit-btn:disabled + .label {
  color: #999;
  cursor: not-allowed;
}

.sign-up-link {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}

.sign-up-link a {
  color: #003710;
  font-weight: 600;
}
.input-box {
  position: relative;
}
.label-input {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  color: #555;
  padding: 0 5px;
}
.input-box .input-field:focus ~ .label-input,
.input-box .input-field:not(:placeholder-shown) + .label-input {
  top: 0;
  font-size: 15px;
  color: #1976d2; 
}
.input-field:focus {
  border-bottom: 2px solid #2196f3;
}

.input-box .input-field:not(:focus) ~ .label-input {
  color: #555; /* Color cuando el input pierde el foco */
}

.input-field.password {
  width: 85%;
}
.input-child-password {
  display: flex;
  align-items: center;
  gap: 20px;
}
.span {
  position: absolute;
  color: red;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.container-input-login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
